@font-face {
    font-family: "Nunito";
    src: url("font-family: 'Nunito', sans-serif;");
  }

.topnav-right {
    float: right
    }

   



li {
    list-style-type: none;
    margin: 0;
    padding:0;
    
  }
  
  header {
    display: inline;
  }

  li {
    float: right;
  }
  
  li a {
    display: block;
    padding: 15px;
   
  }
  img.mediana {
    width: 113px; height: 55px;
    
  }

  .container-fluid {
    display: flex;
    height: 325px;
    padding-top:25px;
    }


.container {
    padding-top: 20px;
    padding-bottom: 5px;
}

.row{


}
 .box{
    background-color: aquamarine;
    margin: 20px 0px;
    height: 290px;
 }

  
  

